*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.top-header{
    list-style: none;
align-items: center;
    margin-bottom: 0px;
    display: grid;
    grid-template-columns: 10% 40% 10% 10% 10%;
    text-align: center;
    justify-content: center;
    padding: 8px;

}
.top-header li a {
    color: white;
    font-size: 18px;
    text-decoration: none;

}
.header-container{
    background-color: #2874f0;
}
.serch-box{
    position: relative;
    display: flex;
    align-items: center;
    font-size: 20px;
    width: 80%;
}
.serch-box input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}
.serch-box span{
    position: absolute;
    right: 15px;
}
/* bottom header */
.bottom-header{
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.16);
    background-color: white;

}
.bottom-header-ul{
    display: flex;
    background: #fff;
    justify-content: space-between;
    list-style: none;
    padding: 10px 0px;
    color: #212121;
    font-family: Roboto,Arial,sans-serif;
    margin-bottom: 0px;
}
/* ///////// */
@media only screen and (max-width: 600px) {
    .top-header {
        background-color: gray;
        grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
        grid-template-rows: auto auto;
        grid-row-gap: 10px;

    }
    .serch-box{
        grid-column: 1/-1;
    grid-row: 2/-1;
    width: 100%;
    }
  }